/* Khi css ở 1 file css ngoài components thì ra đi theo đường tương đối*/

@font-face {
    font-family: fontGame;
    src: url(../../fonts/Pony.ttf);
}

.bg-game {
    background-image: url(../../img/gameXucXac/bgGame.png);
    width: 100vw;
    height: 100vh;
    font-family: fontGame;
}
